{% extends 'admin/templates/default.html' %}
{% from 'admin/macros/datatable.html' import DataTable %}

{% block pageTitle %}
  Brand List
{% endblock %}

{% block script %}
  {{ script('/src/client/admin/script/brand/list.js') }}
{% endblock %}

{% block main %}
  {{ DataTable({
    id: 'brandTable',
    columns: [
        'Brand Name',
        'Brand Image',
        'Created By',
        'Created At',
        'Last Update',
        'Last Update By'
      ],
    tableTitle: 'Brands',
    tableTop:  {
        enable: true,
        addLink: '/admin/brand/add'
      }
    })
  }}
{% endblock %}

{% block body %}
  {% include 'admin/partials/toast.html' %}
{% endblock %}