{% extends 'admin/templates/default.html' %}
{% from 'admin/macros/form.html' import Form, CommonInput, Breadcrum, ButtonSubmit %}

{% block pageTitle %}
  Create Categories
{% endblock %}

{% block script %}
  {{ script('/src/client/admin/script/category/create.js') }}
{% endblock %}

{% block main %}
  {% call Form({ formId: 'formCreateCategory', formTitle: 'Create Category', formDescription: 'Create categories for products' }) %}
    {{ CommonInput({ id: 'categoryName', label: 'Category Name' }) }}
    {{ ButtonSubmit({ class: 'w-100' }) }}
  {% endcall %}
{% endblock %}

{% block body %}
  {% include 'admin/partials/toast.html' %}
{% endblock %}