{% extends 'admin/templates/default.html' %}
{% from 'admin/macros/datatable.html' import DataTable %}

{% block pageTitle %}
  Category List
{% endblock %}

{% block script %}  
  {{ script('/src/client/admin/script/category/list.js') }}
{% endblock %}

{% block main %}
  {{ DataTable({
      id: 'tableCategory',
      tableTitle: 'Categories',
      columns: [
        'Category Name',
        'Created By',
        'Created At',
        'Actions'
      ],
      tableTop: {
        enable: true,
        addLink: '/admin/category/add'
      }    
    }) 
  }}
{% endblock %}