<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block pageTitle %} {% endblock %} | {{ $AppConfig.APP_NAME }}</title>
  {% include 'admin/partials/font.html' %}
  {% if $AppConfig.NODE_ENV === 'development' %}
    {{ viteDevScript() | safe }}
  {% endif %}
  <script src="/src/client/admin/script/core/page-loading.js" type="module"></script>
  <script src="//code.iconify.design/1/1.0.6/iconify.min.js" defer></script>
  <script src="/src/client/admin/script/core/main.js" type="module"></script>
  {% block script %} {% endblock %}
</head>
<body class="vh-100 min-vh-100 w-100">
  {% include 'admin/partials/page-loading.html' %}
  <div id="contentWrapper" class="h-100">
    {% block main %}{% endblock %}
  </div>
  {% block body %} {% endblock %}
</body>
</html>