
#loginContainer {
  #formLogin {
    width: 400px;
    box-shadow: none;
    border: 0;
    border-radius: 0;
  }
  
  /*
  #loginImage {
    height: auto;
    width: 500px;
    background-position: center;
    background-image: url('/assets/images/login_image.jpg');
    background-size: 800px;
    background-repeat: no-repeat;
  }
  */
}