@import '../../shared/customb-bootstrap.scss';
// @import '../../../../node_modules/@mdi/font/css/materialdesignicons.min.css';
@import './sidebar.scss';
@import './user-profile.scss';
@import './page-loading.scss';

:root {
  --sidebar-inactive-color: var(--bs-gray-500);
  --sidebar-active-color: var(--bs-gray-100);
  --sidebar-active-bg: var(--bs-gray-800);
  --sidebar-bg: #12181a;
  --sidebar-min-width: 230px;
  --main-content-bg: #F8F9FE;
  --user-avatar-height: 128px;
  --user-avatar-width: auto;
  --user-avatar-username-fs: 1.2rem;
}

#contentWrapper {
  opacity: 0;
  transition: opacity 300ms ease;
  &.page-loaded {
    display: flex !important;
    opacity: 1 !important;
  }
}
.main-content {
  background-color: var(--main-content-bg);
}