@import '../../shared/customb-bootstrap.scss';
@import '../../../../node_modules/datatables.net-bs5/css/dataTables.bootstrap5.min.css';
@import '../../../../node_modules/datatables.net-fixedcolumns-bs5/css/fixedColumns.bootstrap5.min.css';
@import '../../../../node_modules/magnific-popup/dist/magnific-popup.css';
@import './custom-table.scss';
@import './sidebar.scss';
@import './user-profile.scss';
@import './page-loading.scss';
@import './form.scss';
@import './toast.scss';
@import './login.scss';
@import './custom-file-input.scss';

:root {
  --sidebar-inactive-color: var(--bs-gray-500);
  --sidebar-active-color: var(--bs-gray-100);
  --sidebar-active-bg: var(--bs-gray-800);
  --sidebar-bg: #12181a;
  --sidebar-min-width: 230px;
  --main-content-bg: var(--bs-light);
  --user-avatar-height: 96px;
  --user-avatar-width: auto;
  --user-avatar-username-fs: 1.2rem;
  --form-content-padding: 3rem;
  --form-title-padding: 3rem;
  --form-title-font-family: Inter;
  --form-tooltip-font-size: 1.10rem;
  --fs-sm: .875rem;
  --fs-tiny: .775rem;
}

.fs-sm {
  font-size: var(--fs-sm);
}

.fs-tiny {
  font-size: var(--fs-tiny);
}

#contentWrapper {
  opacity: 0;
  transition: opacity 300ms ease;
  &.page-loaded {
    display: flex !important;
    opacity: 1 !important;
  }
}

.main-content {
  background-color: var(--main-content-bg);
}

.font-title {
  font-family: var(--form-title-family);
}



.mfp-zoom-in {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: scale(0.8);
}

.mfp-zoom-in.mfp-ready {
  opacity: 1;
  transform: scale(1);
}

.mfp-zoom-in.mfp-removing {
  opacity: 0;
  transform: scale(0.8);
}