@import '../../shared/customb-bootstrap.scss';
// @import '../../../../node_modules/@mdi/font/css/materialdesignicons.min.css';
@import './sidebar.scss';
@import './user-profile.scss';
@import './page-loading.scss';
@import './form.scss';
@import './toast.scss';
@import './login.scss';

:root {
  --sidebar-inactive-color: var(--bs-gray-500);
  --sidebar-active-color: var(--bs-gray-100);
  --sidebar-active-bg: var(--bs-gray-800);
  --sidebar-bg: #12181a;
  --sidebar-min-width: 230px;
  --main-content-bg: var(--bs-light);
  --user-avatar-height: 96px;
  --user-avatar-width: auto;
  --user-avatar-username-fs: 1.2rem;
  --form-content-padding: 3rem;
  --form-title-padding: 3rem;
  --form-title-font-family: Inter;
  --form-tooltip-font-size: 1.10rem;
  --fs-sm: .875rem;
  --fs-tiny: .775rem;
}

#contentWrapper {
  opacity: 0;
  transition: opacity 300ms ease;
  &.page-loaded {
    display: flex !important;
    opacity: 1 !important;
  }
}

.main-content {
  background-color: var(--main-content-bg);
}

.font-title {
  font-family: var(--form-title-family);
}