{% macro FormInput(props) %}
  <input 
    id="{{ props.id }}"
    class="form-control"
    name="{{ props.name or props.id }}"
    type="{{ props.type or 'text' }}"
    placeholder="{{ props.placeholder or '' }}"
  />
{% endmacro %}

{% macro FormLabel(props) %}
  {% set tooltipAttribute = ('data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="' + props.tooltipHtml + '" data-bs-custom-class="form-tooltip" data-bs-title="' + (props.tooltipTitle or '') + '"') | safe %}
  <label for="{{ props.for }}" class="form-label">
    {{ props.label }}
    {% if props.enableTooltip %}
      <span class="custom-tooltip" {{ tooltipAttribute }}>
        <span class="iconify tooltip-icon d-inline-block me-1" role="button" data-icon="mage:question-mark-circle"></span>
      </span>
    {% endif %}
  </label>
{% endmacro %}

{% macro FormSelect(props) %}
  <select id="{{ props.id }}" class="form-select" name="{{ props.name or props.id }}">
    {% for option in props.options or [] %}
      <option value="{{ option.value }}">{{ option.label }}</option>
    {% endfor %}
  </select>
{% endmacro %}

{% macro FormGroup() %}
  <div class="form-group">
    {{ caller() }}
  </div>
{% endmacro %}

{% macro InputGroup(props) %}
  <div class="input-group flex-nowrap">
    {{ caller() }}
  </div>
{% endmacro %}

{% macro InputGroupText(props) %}
  <div class="input-group-text">
    {{ caller() }}
  </div>
{% endmacro %}

{% macro ButtonSubmit(props) %}
  <button id="{{ props.id or 'btnSubmit' }}" class="btn btn-primary {{ props.class or '' }}">{{ props.label or 'Submit' }} </button>
{% endmacro %}

{% macro ErrorField(props) %}
  <label id="{{ props.id }}" for="{{ props.fieldId }}" class="invalid-field"></label>
{% endmacro %}

{% macro CommonInput(props) %}
  {% call FormGroup() %}
    {{ FormLabel({ for: props.id, label: props.label, enableTooltip: props.enableTooltip, tooltipTitle: props.tooltipTitle }) }}
    {{ FormInput({ id: props.id, name: props.name or props.id, type: props.type, placeholder: props.placeholder }) }}
  {% endcall %}
{% endmacro %}

{% macro CommonSelect(props) %}
  {% call FormGroup() %}
    {{ FormLabel({ for: props.id, label: props.label, enableTooltip: props.enableTooltip, tooltipTitle: props.tooltipTitle }) }}
    {{ FormSelect({ id: props.id, options: props.options, name: props.name }) }}
  {% endcall %}
{% endmacro %}

{% macro Form(props) %}
  <div class="form-wrapper {{ props.formSize or 'size-sm' }}">
    <div class="form-title">
      <span>{{ props.formTitle }}</span>
      <span class="sub-title">{{ props.formDescription }}</span>
    </div>
    <form id="{{ props.formId }}" class="form-main" novalidate>
      {{ caller() }}
    </form>
    </div>
  </div>
{% endmacro %}

{% macro FileInput(props) %}
  <div class="custom-file-input w-100">
    <label class="custom-file-input-container d-block border-2 border-primary p-4 rounded" for="{{ props.id }}" role="button">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <span class="fs-sm fw-semibold">{{ props.exts }}</span>
        <span class="fs-sm fw-semibold">No more than {{ props.maxSize }}</span>
      </div>
      <div class="file-list"></div>
    </label>
    <input id="{{ props.id }}" name="{{ props.id }}" type="file" hidden {{ 'multiple' if props.multiple }}  accept="{{ props.accepts }}" />
  </div>
{% endmacro %}

{% macro Breadcrum(links) %}
  <div class="align-self-start mb-3">
    <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
      <ol class="breadcrumb">
        {% for link in links %}
        <li class="breadcrumb-item fs-sm fw-semibold {{ 'active' if link.active }}" {{ 'aria-current="page"' | safe if link.active }}>
          {% if link.active%}
            <span class="fw-bold">{{ link.label }}</span>
          {% else %}
            <a class="text-secondary text-decoration-none" href="{{ link.link }}">{{ link.label }}</a>
          {% endif %}
        </li>
        {% endfor %}
      </ol>
    </nav>
  </div>
{% endmacro %}

{% macro CommonFileInput(props) %}
  {% call FormGroup() %}
    {{ FormLabel({ for: props.id, label: props.label }) }}
    {{ FileInput({ id: props.id, multiple: props.multiple, accepts: props.accepts, exts: props.exts, maxSize: props.maxSize }) }}
  {% endcall %}
{% endmacro %}